# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
gradle
.settings
gradlew
gradlew.bat
settings.gradle
.gitattributes
lib/.settings
lib/bin
lib/.classpath
lib/.project
.project
lib/build.gradle
